#buttons-list {
    display: flex;
    flex-wrap: wrap;
}

.button {
    padding: 0;
    display: flex;
    border: 5px solid white;
    cursor: pointer;
    margin-right: 20px;
}

.button-text {
    text-align: center;
    height: 3rem;
    line-height: 3rem;
    margin-right: 1rem;
}

.button-icon {
    display: inline-block;
    height: 2rem;
    stroke: white;
    stroke-width: 5px;
    stroke-opacity: 1;
    display: inline-block;
    margin: 0.5rem 1rem;
}

.button:hover, .button:hover .button-icon {
    color: gray;
    stroke: gray;
}