body {
    background-color: #111113;
    color: white;
    box-sizing: border-box;
}

* {
    box-sizing: border-box;
    border: 1px solid green;
}

h1 {
    margin-left: 30px;
    margin-top: 30px;
    color: #ddd;
}

hr {
    height: 3px;
    color: white;
    background-color: white;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 30px;
}

ul {
    margin-left: 30px;
    margin-right: 30px;
    padding: 0;
    font-size: 15px;
}

li {
    display: block;
    width: 100%;
    box-sizing: border-box;
}

li#add-button {
    border: 5px solid white;
    cursor: default;
    padding-left: 1rem;
}

li#add-button:hover {
    color: gray;
}

ul#todo-list {
    list-style-type: none;
}

.todo-item {
    height: 2rem;
}

.item-check {
    width: 22px;
    height: 100%;
    display: inline;
}

.item-text {
    display: inline;
    height: 100%;
    width: 50px;
    margin-top: 0;
}